Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

magnum-functional-base:
  parent: legacy-dsvm-base
  timeout: 7800
  nodeset: legacy-ubuntu-xenial
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  - openstack/ironic
  ...

magnum-functional-multinode-base:
  parent: legacy-dsvm-base-multinode
  timeout: 7800
  nodeset: legacy-ubuntu-xenial-2-node
  pre-run: playbooks/pre/prepare-workspace.yaml
  run: playbooks/magnum-functional-base.yaml
  post-run: playbooks/post/upload-logs.yaml
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/diskimage-builder
  ...

magnum-functional-api:
  parent: magnum-functional-base
  vars:
    coe: api

magnum-functional-coe:
  parent: magnum-functional-base
  nodeset:
    nodes:
    - name: primary
      label: ubuntu-xenial-vexxhost

magnum-functional-k8s:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

magnum-functional-dcos:
  parent: magnum-functional-coe
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: dcos

magnum-functional-mesos:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: mesos

magnum-functional-swarm:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm

magnum-functional-k8s-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: k8s
    ironic: 1

magnum-functional-swarm-ironic:
  parent: magnum-functional-coe
  voting: false
  vars:
    coe: swarm
    ironic: 1

magnum-functional-k8s-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  vars:
    coe: k8s

magnum-functional-swarm-mode-multinode:
  parent: magnum-functional-multinode-base
  voting: false
  branches: ^(?!stable/(newton|ocata)).*$
  vars:
    coe: swarm-mode

container-build:
  pre-run: playbooks/container-builder-setup-gate.yaml
  run: playbooks/container-builder.yaml
  post-run: playbooks/container-builder-copy-logs.yaml
  timeout: 1200

container-publish:
  parent: container-build
  post-run: playbooks/container-publish.yaml
  secrets:
  - magnum_docker_login
  timeout: 1200

Use rocky heat-container-agent for stable/rocky
  doc/source/user/index.rst
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  releasenotes/notes/heat-container-agent-tag-92848c1062c16c76.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

[k8s] Add nginx based ingress controller
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/helm/ingress-nginx.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/helm-install-ingress-nginx-fe2acec1dd3032e3.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix container-build job
  .zuul.yaml
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Disable broken image building
  .zuul.yaml
  playbooks/magnum-buildimages-base.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Release k8s v1.12.8
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Partial backport: Disable broken image building
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Fix up installation instructions for openSUSE
  doc/source/user/index.rst
Due: none

Blacklist bandit 1.6.0 and cap Sphinx on Python2
  doc/requirements.txt
  test-requirements.txt
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Revert "support http/https proxy for discovery url"
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Replace git.openstack.org URLs with opendev.org URLs
  README.rst
  contrib/drivers/k8s_opensuse_v1/templates/README.md
  doc/source/admin/troubleshooting-guide.rst
  doc/source/index.rst
  doc/source/user/index.rst
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

[k8s_fedora_atomic] Make calico devices unmanaged in NetworkManager config for master node
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  releasenotes/notes/ignore-calico-devices-in-network-manager-e1bdb052834e11e9.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add missing ws separator between words
  magnum/conf/cluster.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add cluster upgrade to the API
  doc/source/user/index.rst
  doc/source/user/rolling-upgrade.rst
  magnum/api/controllers/v1/cluster_actions.py
  magnum/api/controllers/versions.py
  magnum/common/exception.py
  magnum/common/policies/cluster.py
  magnum/conductor/api.py
  magnum/conductor/handlers/cluster_conductor.py
  magnum/conductor/utils.py
  magnum/drivers/common/driver.py
  magnum/drivers/heat/driver.py
  magnum/drivers/k8s_coreos_v1/driver.py
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/drivers/k8s_fedora_ironic_v1/driver.py
  magnum/drivers/mesos_ubuntu_v1/driver.py
  magnum/drivers/swarm_fedora_atomic_v1/driver.py
  magnum/drivers/swarm_fedora_atomic_v2/driver.py
  magnum/tests/unit/api/controllers/test_root.py
  magnum/tests/unit/api/controllers/v1/test_cluster_actions.py
  releasenotes/notes/upgrade-api-975233ab93c0c092.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add API reference for cluster upgrade
  api-ref/source/clusters.inc
  api-ref/source/parameters.yaml
  api-ref/source/samples/cluster-resize-resp.json
  api-ref/source/samples/cluster-upgrade-req.json
  api-ref/source/samples/cluster-upgrade-resp.json
Due: none

[k8s][fedora atomic] Rolling upgrade support
  magnum/api/controllers/v1/cluster_actions.py
  magnum/drivers/common/templates/fragments/configure-docker-registry.sh
  magnum/drivers/common/templates/fragments/configure-docker-storage.sh
  magnum/drivers/common/templates/fragments/configure_docker_storage_driver_atomic.sh
  magnum/drivers/common/templates/fragments/enable-docker-registry.sh
  magnum/drivers/common/templates/kubernetes/fragments/add-proxy.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-etcd.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-services-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/kube-apiserver-to-kubelet-role.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert-client.sh
  magnum/drivers/common/templates/kubernetes/fragments/make-cert.sh
  magnum/drivers/common/templates/kubernetes/fragments/start-container-agent.sh
  magnum/drivers/common/templates/kubernetes/fragments/upgrade-kubernetes.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/k8s-fedora-atomic-rolling-upgrade-3d8edcdd91fa1529.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update calico to v3.3
  magnum/drivers/common/templates/kubernetes/fragments/calico-service.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix overlay2 + docker_volume_size
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-master.sh
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix coe_version for k8s driver
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/fix-k8s-coe-version-a8ea38f327ea6bb3.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[fedora-atomic][k8s] Support default Keystone auth policy file
  devstack/lib/magnum
  doc/source/user/index.rst
  doc/source/user/k8s-keystone-authN-authZ.rst
  etc/magnum/keystone_auth_default_policy.sample
  magnum/conf/__init__.py
  magnum/conf/kubernetes.py
  magnum/drivers/common/templates/kubernetes/fragments/enable-keystone-auth.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/default-policy-k8s-keystone-auth-fa74aa03dcc12ef3.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

[k8s][fedora atomic] Using node instead of minion
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  releasenotes/notes/rename-minion-to-node-9d32fe77d765f149.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Build kubernetes images
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Update keystone_authtoken config reference
  doc/source/admin/troubleshooting-guide.rst
  doc/source/install/common/configure_2_edit_magnum_conf.rst
Due: none

k8s_fedora: Update to kubernetes v1.14.3
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

calico: drop calico_cni_tag
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

zuul: drop secret from stable branch
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

ci: Rotate dockerhub password
  .zuul.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Build kubernetes v1.15.0
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Add npd_enabled label
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-healing.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Add build-arg for --allow-privileged
  dockerfiles/kubernetes-apiserver/Dockerfile
  dockerfiles/kubernetes-apiserver/config
  dockerfiles/kubernetes-controller-manager/Dockerfile
  dockerfiles/kubernetes-controller-manager/config
  dockerfiles/kubernetes-kubelet/Dockerfile
  dockerfiles/kubernetes-kubelet/config
  dockerfiles/kubernetes-proxy/Dockerfile
  dockerfiles/kubernetes-proxy/config
  dockerfiles/kubernetes-scheduler/Dockerfile
  dockerfiles/kubernetes-scheduler/config
  playbooks/container-builder.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Fix auto_scaling_enabled default in docs
  doc/source/user/index.rst
Due: none

k8s: refactor functions into KubernetesDriver
  magnum/drivers/heat/driver.py
  magnum/drivers/k8s_coreos_v1/driver.py
  magnum/drivers/k8s_fedora_atomic_v1/driver.py
  magnum/drivers/k8s_fedora_ironic_v1/driver.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Make kubernetes apiserver start after network
  dockerfiles/kubernetes-apiserver/service.template
Due: magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

[k8s] Update prometheus monitoring helm based configuration
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.sh
  magnum/drivers/common/templates/kubernetes/helm/prometheus-operator.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/helm-install-prometheus-operator-ea87752bc57a0945.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
