Repository openstack/magnum: changes, and which Zuul jobs are due for each by the changed paths.
All: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Path conditions:
  magnum-functional-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-multinode-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-api: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-coe: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^dockerfiles/.*$
  magnum-functional-k8s: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-dcos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm.*$
  magnum-functional-mesos: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/swarm.*$
  magnum-functional-swarm: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm_fedora_atomic_v2/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-ironic: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$
  magnum-functional-k8s-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/swarm.*$, ^magnum/drivers/mesos.*$
  magnum-functional-swarm-mode-multinode: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/drivers/k8s.*$, ^magnum/drivers/mesos.*$, ^magnum/drivers/swarm_fedora_atomic_v1/.*$
  container-build: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$
  container-publish: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^specs/.*$, ^install-guide/.*$, ^releasenotes/.*$, ^magnum/.*$

Replace openstack.org git:// URLs with https://
  doc/source/admin/troubleshooting-guide.rst
  magnum/tests/contrib/gate_hook.sh
  playbooks/magnum-buildimages-base.yaml
  playbooks/pre/prepare-workspace.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Replace openstack.org git:// URLs with https://
  doc/source/admin/troubleshooting-guide.rst
  magnum/tests/contrib/gate_hook.sh
  playbooks/magnum-buildimages-base.yaml
  playbooks/magnum-tox-migration.yaml
  playbooks/pre/prepare-workspace.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Add API ref for <ClusterID>/actions/resize
  api-ref/source/clusters.inc
  api-ref/source/parameters.yaml
  api-ref/source/samples/cluster-resize-req.json
Due: none

[fedora-atomic-k8s] Allow all traffic from master to worker nodes
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

Kubernetes images release
  playbooks/container-builder-vars.yaml
  playbooks/container-builder.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Publish k8s v1.14.0 image
  playbooks/container-publish.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

ng-2: Adapt existing cluster APIs and conductor
  magnum/api/controllers/v1/bay.py
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/cluster_actions.py
  magnum/common/exception.py
  magnum/conductor/api.py
  magnum/conductor/handlers/cluster_conductor.py
  magnum/conductor/utils.py
  magnum/objects/cluster.py
  magnum/service/periodic.py
  magnum/tests/unit/api/controllers/v1/test_bay.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_cluster_actions.py
  magnum/tests/unit/common/test_neutron.py
  magnum/tests/unit/common/test_octavia.py
  magnum/tests/unit/conductor/handlers/test_cluster_conductor.py
  magnum/tests/unit/conductor/test_monitors.py
  magnum/tests/unit/conductor/test_rpcapi.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/objects/test_cluster.py
  magnum/tests/unit/objects/test_objects.py
  magnum/tests/unit/objects/utils.py
  magnum/tests/unit/service/test_periodic.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-3: Adapt existing drivers
  magnum/drivers/heat/driver.py
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/heat/k8s_template_def.py
  magnum/drivers/heat/swarm_fedora_template_def.py
  magnum/drivers/heat/swarm_mode_template_def.py
  magnum/drivers/heat/template_def.py
  magnum/drivers/mesos_ubuntu_v1/template_def.py
  magnum/tests/unit/conductor/handlers/test_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/drivers/test_heat_driver.py
  magnum/tests/unit/drivers/test_template_definition.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Allow admin update cluster/template in any project
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/cluster_template.py
  magnum/common/policies/cluster.py
  magnum/common/policies/cluster_template.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Set a fixed cipher suite set for Traefik
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-5: APIs for listing and showing nodegroups
  magnum/api/controllers/v1/__init__.py
  magnum/api/controllers/v1/cluster.py
  magnum/api/controllers/v1/nodegroup.py
  magnum/common/policies/__init__.py
  magnum/common/policies/nodegroup.py
  magnum/tests/unit/api/controllers/test_root.py
  magnum/tests/unit/api/controllers/v1/test_nodegroup.py
  magnum/tests/unit/api/utils.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

ng-4: Adapt cluster object
  magnum/api/controllers/v1/bay.py
  magnum/api/controllers/v1/cluster.py
  magnum/conductor/handlers/cluster_conductor.py
  magnum/db/sqlalchemy/alembic/versions/461d798132c7_change_cluster_to_support_nodegroups.py
  magnum/db/sqlalchemy/api.py
  magnum/db/sqlalchemy/models.py
  magnum/objects/cluster.py
  magnum/tests/unit/api/controllers/v1/test_bay.py
  magnum/tests/unit/api/controllers/v1/test_cluster.py
  magnum/tests/unit/api/controllers/v1/test_cluster_actions.py
  magnum/tests/unit/api/utils.py
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_mesos_cluster_conductor.py
  magnum/tests/unit/conductor/handlers/test_swarm_cluster_conductor.py
  magnum/tests/unit/conductor/test_monitors.py
  magnum/tests/unit/db/sqlalchemy/test_types.py
  magnum/tests/unit/db/test_cluster.py
  magnum/tests/unit/db/utils.py
  magnum/tests/unit/objects/test_cluster.py
  magnum/tests/unit/objects/test_objects.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Specify internal network to improve stability in a multi-NIC scenario.
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Revert "Specify internal network to improve stability in a multi-NIC scenario."
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-kube-os-config.sh
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Support multi DNS server
  contrib/drivers/dcos_centos_v1/templates/dcoscluster.yaml
  contrib/drivers/k8s_opensuse_v1/templates/kubecluster.yaml
  magnum/api/controllers/v1/cluster_template.py
  magnum/api/controllers/v1/types.py
  magnum/common/exception.py
  magnum/common/utils.py
  magnum/drivers/common/templates/network.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_ironic_v1/templates/kubecluster.yaml
  magnum/drivers/mesos_ubuntu_v1/templates/mesoscluster.yaml
  magnum/drivers/swarm_fedora_atomic_v1/templates/cluster.yaml
  magnum/drivers/swarm_fedora_atomic_v2/templates/swarmcluster.yaml
  magnum/tests/unit/api/controllers/v1/test_cluster_template.py
  magnum/tests/unit/api/controllers/v1/test_types.py
  releasenotes/notes/support-multi-dns-server-0528be20f0e6aa62.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

[k8s] Add nginx based ingress controller
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/helm/ingress-nginx.sh
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/helm-install-ingress-nginx-fe2acec1dd3032e3.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix missing print format error
  magnum/common/exception.py
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Build kubernetes v1.14.1
  playbooks/container-builder-vars.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

Fix proportional autoscaler image
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Fix registry on k8s_fedora_atomic
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Dropping the py35 testing
  .zuul.yaml
  setup.cfg
  tox.ini
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

[fedora atomic] Allow traffic between k8s workers
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-k8s-ironic, magnum-functional-k8s-multinode

[fedora_atomic] Support auto healing for k8s
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/configure-kubernetes-minion.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-healing.sh
  magnum/drivers/common/templates/kubernetes/fragments/enable-auto-scaling.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubeminion.yaml
  magnum/tests/unit/conductor/handlers/test_k8s_cluster_conductor.py
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/support-auto-healing-3e07c16c55209b0a.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

[k8s] Set traefik to stable version v1.7.10
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/enable-ingress-traefik.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params.yaml
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/set-traefik-tag-7d4aca5685147970.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Update coredns from upstream manifest and to 1.3.1
  doc/source/user/index.rst
  magnum/drivers/common/templates/kubernetes/fragments/core-dns-service.sh
  magnum/drivers/common/templates/kubernetes/fragments/write-heat-params-master.yaml
  magnum/drivers/heat/k8s_coreos_template_def.py
  magnum/drivers/heat/k8s_fedora_template_def.py
  magnum/drivers/k8s_coreos_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_coreos_v1/templates/kubemaster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubecluster.yaml
  magnum/drivers/k8s_fedora_atomic_v1/templates/kubemaster.yaml
  magnum/tests/unit/drivers/test_template_definition.py
  releasenotes/notes/coredns-update-9b03da4b89be18ad.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode

Build kubernetes v1.15.0-alpha.1
  playbooks/container-builder-vars.yaml
  playbooks/container-builder.yaml
  playbooks/container-publish.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/magnum-buildimages-base.yaml
  playbooks/magnum-functional-base.yaml
  playbooks/pre/prepare-workspace.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish

OpenDev Migration Patch
  .gitreview
  .zuul.yaml
  playbooks/magnum-buildimages-base.yaml
  playbooks/magnum-functional-base.yaml
  playbooks/magnum-tox-migration.yaml
  playbooks/pre/prepare-workspace.yaml
Due: magnum-functional-base, magnum-functional-multinode-base, magnum-functional-api, magnum-functional-coe, magnum-functional-k8s, magnum-functional-swarm-mode, magnum-functional-dcos, magnum-functional-mesos, magnum-functional-swarm, magnum-functional-k8s-ironic, magnum-functional-swarm-ironic, magnum-functional-k8s-multinode, magnum-functional-swarm-mode-multinode, container-build, container-publish
